@{
    ViewData["Title"] = "TEST";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is test page call another REST API service.</p>

<p>Hostname: @ViewData["Host"]</p>

<p>API url: @ViewData["ServiceUrl"]</p>

<p>API Result: @ViewData["ApiResult"]</p>

<p>API WIN url: @ViewData["ServiceWinUrl"]</p>

<p>API WIN Result: @ViewData["ApiWinResult"]</p>


