@{
    ViewData["Title"] = "TEST";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is test page call another REST API service.</p>

<p>Hostname: @ViewData["Host"]</p>

<p>Hostname: @ViewData["ServiceUrl"]</p>

<p>API Result: @ViewData["ApiResult"]</p>



