@model IEnumerable<jjwebapicore.Contact>

@{
    ViewData["Title"] = "Contact list";
}

<h2>Contacts</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContactId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContactId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ContactId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ContactId })
            </td>
        </tr>
}
    </tbody>
</table>
